<html ng-app="funnel">
<head>
    <title>Funnel</title>

    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-animate/angular-animate.js"></script>
    <script src="node_modules/angular-aria/angular-aria.js"></script>
    <script src="node_modules/angular-material/angular-material.js"></script>
    <script src="app.js"></script>
    <script src="directives/cxFunnel/cxFunnelDir.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.0/angular-material.css">
</head>
<body ng-controller="mainCtrl">

    <div flex class="container layout layout-row">
        <div class="inputs" flex="20">
            <br><h1 class="title"> Funnel </h1>
            <div class="layout layout-column">
                <div class="left"> Category </div>
                <input type="text" class="input-text" placeholder="Category" ng-model="categoryId"/>
            </div>
            <div class="layout layout-column">
                <div class="left"> From </div>
                <input type="text" class="input-text" placeholder="From (2016-09-02)" ng-model="from"/>
            </div>
            <div class="layout layout-column">
                <div class="left">  To </div>
                <input type="text" class="input-text" placeholder="To (2016-09-18)" ng-model="to"/>
            </div>
            <br><br>
            <button id="analyse-button" ng-click="onAnalyseButtonClick()"> Analyse </button>
        </div>

        <div flex="100" class="fade funnel">
            <cx-step ng-repeat="step in funnelSteps"
                     dom-id="step.domId"
                     title="step.title"
                     visitors="step.visitors"
                     left="step.left"
                     continued="step.continued"></cx-step>
        </div>
    </div>


    <div class="notifaction">
        <br>
        {{ notification }}
    </div>

<link rel="stylesheet" href="style.css">
</body>

<script>
    document.getElementById("analyse-button").focus();
</script>
</html>
