body {
    text-align: center;
    font-family: "Cambria Math";
    font-size: 1.5em;
    /*color: #ef5d03;*/
    color: #613317;
    /*background-color: #8fffdc;*/
}

.left {
    text-align: left;
    margin-top: 0.4em;
}

.inputs {
    text-align: center;
}

#analyse-button {
    font-family: "Cambria Math";
    font-size:1.1em;
    padding: 0.4em 3em 0.4em 3em;
    padding: 10% 32% 10% 32%;
    color: #39492d;
}

.container {
    padding-left: 5%;
    padding-right: 5%;
}

.title {
    font-size: 3em;
}

.input-text {
    font-size: 1em;
    font-family: "Cambria Math";
    color: #39492d;
    margin-top:5%;
}

.notifaction {
    color: #dc383b;
    font-size: 1.7em;
}

.funnel {
    position: absolute;
    margin-left: 35%;
    margin-top: 6%;
    opacity: ;
}

.funnel-step {
    margin-top: 2%;
    text-align: left;
}

.funnel-step-inner {
    text-align: center;
    /*background-color: #c8ffee; !*#c3fff1;*!*/
    background-color: #f7f7f7;
    /*border: solid 5px #fffff7;*/
    border: solid 5px #dedede;

}

#homepage {
    width: 600px;
}

#category {
    width: 390px;


}

#purchases {
    width: 250px;

}

.visitors-number {
    font-size: 2.5em;
}