<div flex="grow" class="funnel-step layout layout-column">
    <div flex="grow" class="layout layout-row">
        <div flex="grow" class="funnel-step-inner" ng-attr-id="{{domId}}">
            <b> {{ title }} </b>
            <hr style="margin-top: 10px">
            <span class="visitors-number"> {{ visitors | number }} </span>
            visitors
        </div>
        <div flex="10" ng-show="left > 0" style="margin-left: 10%"> {{left | number:1}}% left</div>
    </div>
    <div style="margin-top: 5%" layout-align="start start">
    <span ng-show="continued > 0"> {{continued | number:1}}% continued</span>
    </div>
</div>